.ontslog {
  height: 40vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
/* .smartnaiz {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 1200px;
}
.neg {
  position: absolute;
  top: 30px;
  left: 50px;
}
.hoer {
  position: absolute;
  top: 30px;
  left: 450px;
}

.gurav {
  position: relative;
  top: 30px;
  left: 1050px;
}
.duruv {
  position: relative;
  top: 50px;
  left: 20px;
} */
